form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background: rgb(29, 119, 174);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background: rgb(21, 83, 122);
}